@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Bebas Neue', cursive;
}
body{
    background-color: #08e638 !important;
    height: 100vh !important;
}
.cal{
    width: 350px;
    background-color: #1a1a1b;
border-radius: 5px;
box-shadow: 2px 10px 10px -2px rgba(0, 0, 0, 0.281);
}
.display{
    width: 100%;
    height: 80px;
    background-color: #edede9 ;
    border: none;
    color: black;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    font-size: xx-large;
}
button{
    box-sizing: border-box;
    margin:5px 10px 5px 10px !important;
 height: 50px;
 width: 50px !important;
 border-radius: 50% !important;
 border: none;
 outline: none;
 color: black;
 font-size: x-large !important;
 background-color: #fff;   
}
.operators{
background-color: #fb5607;
}
.equal{
    font-weight: bolder;
    background-color: #001f54;
    text-align: center;
}
.clr{
    background-color: #d90429;
}
button:hover{
    cursor: pointer;
}
p{
    font-size: 25px;

}